*{
    margin: 0;
    padding: 0;
}

#title__Page{
    background-color: #303030;
    color: #FF8B00;
    font-size: 6rem;
    padding: 20px;
    text-align: center;
}

.btn{/*clase general para los botones*/
    color: #000000;
    font-family: 'Black Ops One';
    font-size: 4.5rem;
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    margin: 1px;
}


#displayCalculator{/*pantalla de la calculadora*/
    display: inline-block;
    background-color: #538752;
    width: 100%;
    height: 200px;
    text-align: end;
    color: black;
    border-radius: 20px;
    font-size: 6rem;
    text-align: bottom;
    padding-top: 2px;
}

main{
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: 1.5fr 6fr 1.5fr;
    grid-template-areas: 
    "lcd lcd"
    "num ope"
    "re re"
    ;
    row-gap: 55px;
    padding-left: 12px;
    padding-right: 1px;
    padding-bottom: 175px;
    background-color: #303030;
}

#div__display{/*contenedor de la pantalla*/
    font-family: 'Press Start 2P';
    overflow: hidden;
    grid-area: lcd;
    display: inline-block;
}
#div__numbers{/*contenedor de los numeros, el punto y el delete*/
    display: flex;
    flex-flow: wrap-reverse;
    grid-area: num;
}
#div__operation{/*contenedor de los signos de operacion*/
    grid-area: ope;
}
#div__result{/*contenedor del signo de igual y el reseteo*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    grid-area: re;
    width: 100%;
}

/*----------------------------layout de colores de botones---------------------------------*/
.btn--result{
    width: 62%;
    background-image: linear-gradient(to bottom, #078900, #4C8949);
}

.btn--result:active{
    background-image: linear-gradient(to bottom, #4C8949, #078900);
}

.btn--number{/*botones de los numeros*/
    background-image: linear-gradient(to bottom, #FF8B00, #FFC074);
}

.btn--number:active{
    background-image: linear-gradient(to bottom,#FFC074, #FF8B00);
}
.btn--operation{
      background-image: linear-gradient(to bottom, #303030, #929292);
}
.btn--operation:active{
      background-image: linear-gradient(to bottom, #929292, #303030);    
}

#ce, #del{/*botones de commandos */
    background-image: linear-gradient(to bottom, #FF1e00, #FFB0A8);    
}
#ce:active, #del:active{
    background-image: linear-gradient(to bottom, #FFB0A8, #FF1e00);    
}